!!! 5
%html(html_attrs())
  %head= render_partial("layouts/head")
  %body
    .page-wrapper.homepage
      %header.home-header= render_partial("layouts/header")
        .enter-homepage
          =link_to("English &raquo;", get_option('home') . '/exhibitions')
          =link_to("日本語 &raquo;", get_option('home') . '/jp/exhibitions')
      %section.home-content= yield()
      %footer.site-footer= render_partial("layouts/footer")
      = javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
      = javascript_include_tag("application")
