- if ( is_tax('year_exhibitions') )
  - $term = get_term_by( 'slug', get_query_var( 'term' ), get_query_var( 'taxonomy' ) )
  - $loop = new WP_Query( array( 'tax_query' => array( array( 'taxonomy' => 'year_exhibitions', 'terms' => $term->term_id ) ), 'post_type' => 'exhibitions', 'posts_per_page' => -1,  ) )
  #content
    .wrap.clearfix#inner-content
      .sidebar-exhibitions.clearfix= render_partial( "layouts/sidebar_exhibitions" )
      .eightcol.first.clearfix#main{:role => "main", :class => "exhibitions"}
        %ul
          - while ($loop->have_posts())
            - $loop->the_post()
            %li= render_partial( "posts/exhibitions" )
        - wp_reset_query()
- else if ( is_tax('press_type') )
  - $term = get_term_by( 'slug', get_query_var( 'term' ), get_query_var( 'taxonomy' ) )
  - $loop = new WP_Query( array( 'tax_query' => array( array( 'taxonomy' => 'press_type', 'terms' => $term->term_id ) ), 'post_type' => 'press', 'posts_per_page' => -1,  ) )
  #content
    .wrap.clearfix#inner-content
      .sidebar-press.clearfix= render_partial( "layouts/sidebar_press" )
      .eightcol.first.clearfix#main{:role => "main", :class => "#{$term->slug}"}
        %ul
          - while ($loop->have_posts())
            - $loop->the_post()
            %li= render_partial( "posts/press" )
        - wp_reset_query()
- else
  %h2 Archives
    %ul.archive
      - while (have_posts())
        - the_post()
        %li= render_partial("posts/post")